@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

:root {
  --background: #1d1d41;
  --backgroundSec: #141332;
  /* --foreground: #171717; */
  --buttonMain: #cbc8ff;
  --secondary: #8c89b4;
  --subdued: #c1c1c1;
}

@theme inline {
  --color-background: var(--background);
  --color-backgroundSec: var(--backgroundSec);
  --color-subdued: var(--subdued);
  --color-buttonMain: var(--buttonMain);
  --color-secondary: var(--secondary);
  --font-karla: var(--font-karla);
  --font-space-grotesk: var(--font-space-grotesk);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-pagination-bullet {
  @apply bg-[#CBC8FF] opacity-10 w-3 h-3 rounded-full;
}

.swiper-pagination-bullet-active {
  @apply opacity-100 w-7 h-3 rounded-md;
}
